<p id="notice"><%= notice %></p>

<p>
  <strong>String test:</strong>
  <%= @lesson2_a.string_test %>
</p>

<p>
  <strong>Datetime test:</strong>
  <%= @lesson2_a.datetime_test %>
</p>

<p>
  <strong>Integer test:</strong>
  <%= @lesson2_a.integer_test %>
</p>

<p>
  <strong>Boolean test:</strong>
  <%= @lesson2_a.boolean_test %>
</p>

<%= link_to 'Edit', edit_lesson2_a_path(@lesson2_a) %> |
<%= link_to 'Back', lesson2_as_path %>
